.extrasIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.desactive {
   background-color: lightblue;
  
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;



}


.active {
    background-color:#088eb9;
   
     width: 90px;
     height: 90px;
     border-radius: 50%;
     text-align: center;
 
 
 
 }
 

img{
width: 30px;
margin-top: 30px;


}


.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
    margin-top: 30px;
font-size: 70%;
}

@media screen and (max-width:375px) {
    .extrasIcons {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        

    }
}